@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.portfolio-logo{
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: #4b6cc1;
    font-size: 50px;
    font-weight: 900;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto";
}


.a {
    animation: neon 1s ease infinite;
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}


.banner-section-image{
    width: 50%;
    margin-bottom: 10px;
    
}
.banner-section-bg-container{
    background-image: url("https://s3.amazonaws.com/codementor_content/2015-Aug-week3/portfolio.jpg");
    background-color: #191a1d;
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.banner-section-heading{
    color: rgb(0, 0, 0);
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 400;
}


.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 50px;

    

  }
  .waviy span {
    font-family: "Roboto";
    position: relative;
    display: inline-block;
    color:#02008d;

    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }


.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 24px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.custom-button{
    animation: wiggle 2s linear infinite;
    height: 45px;
    width: 130px;
    color: white;
    
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  
  
  
  background: #02008d;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;

}
/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  

.about-me-section{
    background-color:#323f4b;
    
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  padding: 5px;
    width: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-image: none;
  border-radius: 50px 0 50px 0;
  border-style: solid;
  border-width: 5px;
  border: 5px solid #f8f8f8;
    border-image: none;
    border-radius: 50px 0 50px 0;
    border-style:solid;
    
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 10px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.about-me-section-subheading{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    color:#cced00;
}
.about-me-section-heading{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
    color:white;

}
.about-me-section-description{
    font-family: "Roboto";
    font-size: 20px;
    color:#9aa5b1;

}
.skills-section{
    background-color: #191a1d;

}
.skills-card{
    background-color: #323f4b;
    border-radius: 8px;
    padding: 10px;
    
}
.skills-card-title{
    font-family: "Robot";
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    overflow-y: hidden;


}
.skills-card-img{
    height: 64px;
    width: 64px;

}
.skills-section-sub-heading{
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
    color:#cced00;
}


* { 
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family : "Poppins", sans-serif;
  }
  .projects-section{
    display : flex;
  background-color: #43345d;
  min-height : 500px;
  }
  .projects-card{
    position: relative;
  max-width : 400px;
  height : 215px;  
  background-color :white;
  margin : 30px 10px;
  padding : 20px 15px;
  
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
  }
  .projects-card:hover{
    height : 500px;    

  }
  .projects-image{
    position : relative;
    width : 350px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  .projects-card-img{
    max-width: 100%;
  border-radius : 15px;

  }
  .temp-img{
    height: 100%;
  }
  .projects-card-description{
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;

  
  opacity : 0;
  transition : 0.3s ease-in-out;
    
    
  }
  
  .projects-card:hover .projects-card-description{
    margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  }
  
  .projects-card:hover{
    margin-top : 30px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.2s;
    
 }
 .shake{
  animation: tilt-shaking 0.50s ease infinite;
  transform-origin: 50% 50%;

 }

 @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  

  .projects-section-heading{
    color:white;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}

.projects-card-sub-title {
    color: black;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;

}

.projects-card-title {
    color: black;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.services-section{
    background-color: #52606d;
    color: #ffffff;
}
.services-card{
    background-color: #191a1d;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.services-card-image {
    height: 48px;
    width: 48px;
}
.services-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.services-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}
.work-done-section{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    
    background-size: cover;
    
}
.hr-line {
    background-color: white;
    width: 60px;
}

.work-done-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
}

.work-done-card-sub-title {
    color: white;
    font-family: "Roboto";
    font-size: 16px;

}
.footer-section {
    background-color: #0d2436;
}

.footer-section-copyright-container {
    text-align: center;
    color: #ffffff;
    background-color: #001c32;
    padding: 10px;
}

.footer-section-image {
    border-color: #666 #1c87c9;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 2px;
    height: 80px;
    width: 70px;
    overflow: hidden;
    

}

.footer-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;

}

.footer-section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 15px;

}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.social-component {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 40px;
}

.social-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

}

.social-image {
    
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-image:hover {
    transform: rotateY(180deg);
    cursor: pointer;
    transition: all 0.2s;
}
.title{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.my-number{
    color: #001b61;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 30px;

}
.number{
    color:rgb(0, 0, 0);
}
.close-button{
    width: 70px;
}
.resume{
    width: 150%;
}
.hand-icon{
height: 50px;
}